.bg {
    background: url("../img/bg.png");
    background-size: cover;
}

.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: flex-end;
}


.navbar-header-link {
    text-decoration: none;
    margin-right: auto;
}

.navbar-header-text {
    font-size: 20px;
    font-family: Courier, sans-serif;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-header-text:hover {
    color: #3cb878;
}

.navbar-icons{
    margin-top: 20px;
    margin-right: 30px;
}

.navbar-icons:last-of-type{
    margin-right: 50px;
}

.sprite-cal {
    background-image: url("../img/spritesheet.png");
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-cal:hover {
    background-image: url("../img/spritesheet.png");
    cursor: pointer;
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-for {
    background-image: url("../img/spritesheet.png");

    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}

.sprite-for:hover {
    background-image: url("../img/spritesheet.png");
    cursor: pointer;
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
}

.sprite-saf {
    background-image: url("../img/spritesheet.png");

    width: 20px;
    height: 20px;
    background-position: -81px -5px;
}

.sprite-saf:hover {
    background-image: url("../img/spritesheet.png");
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}

.navbar-user{
    font-family: Courier,sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 20px;
    margin-right: 100px;
}

.log-in{
    color: #3cb878;
}

.log-in:hover{
    text-decoration: underline;
    cursor: pointer;
}

.sign-up{
    color: #3cb878;
}

.sign-up:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*---------------navbar end-----------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Courier, sans-serif;
}

.inner{
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: #ffffff;
    border-radius: 10px;
}

.sign-up-text{
    font-size: 20px;
    color: #434343;
    display: inline-block;
    margin-right: 195px;
}

.sign-up-text:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-right: 42px;
}

.form-log-in{
    display: inline-block;
    color: #3cb878;
    font-size: 14px;
    font-family: Courier,sans-serif;
    margin-right: 60px;
    border: none;
    text-decoration: none;
}

.form-log-in:hover{
    text-decoration: underline;
}

.form-top{
    margin-top: 30px;
    margin-bottom: 15px;
}

.fb-google{
    display: flex;
    justify-content: center;
}

.fb-google-facebook-container{
    background-color: #305db8;
    height: 46px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 17px;
    border-radius: 5px;
    margin-right: 10px;
}

.fb-google-facebook-container:hover{
    background-color: #264b96;
    cursor: pointer;
}

.facebook{
    font-family: Courier,sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 36px;
}

.fb-google-facebook-container:after{
    content: "";
    display: inline-block;
    height: 28px;
    border-right: 1px solid #224387;
    position: relative;
    left: -102px;
}

.fb-google-google-container{
    background-color: #df4a32;
    height: 46px;
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 13px;
    padding-right: 30px;
    border-radius: 5px;
}

.fb-google-google-container:hover{
    background-color: #c3412c;
    cursor: pointer;
}

.google{
    font-family: Courier,sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 34px;
}

.fb-google-google-container:after{
    content: "";
    display: inline-block;
    height: 28px;
    border-right: 1px solid #af3a28;
    position: relative;
    left: -84px;
}


.or-text{
    font-size: 14px;
    color: #cecece;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 18px;
    position: relative;
}
.or-text:before{
    content: '';
    width: 135px;
    display: inline-block;
    border-top: 1px solid #eaeaea;
    position: relative;
    top: -3px;
    margin-right: 18px;
}
.or-text:after{
    content: '';
    width: 135px;
    display: inline-block;
    border-top: 1px solid #eaeaea;
    position: relative;
    top: -3px;
    margin-left: 19px;
}


.user-input{
    display: block;
    width: 312px;
    margin: 10px 60px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.user-input:focus{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    outline: none;
}

.checkbox{
    margin: 25px 60px 25px;
    display: block;
    color: #434343;
    font-family: Courier,sans-serif;
    font-size: 14px;

}
.terms-conditions{
    color: #3cb878;
}
.terms-conditions:hover{
    text-decoration: underline;
    cursor: pointer;
}

.submit-btn{
    background-color: #3cb878;
    font-family: Courier,sans-serif;
    font-size: 16px;
    color: white;
    padding: 17px 100px;
    margin-left: 60px;
    margin-bottom: 32px;
    margin-right: 60px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit-btn:hover{
    display: block;
    background-color: #329a65;
}